.completion-dialog {
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-width: 2;
}

.completion-label {
    -fx-padding: 2 5 2 5;
}

.completion-label-selected {
    -fx-background-color: #85b0d3;
}
