.editcontent {
    -fx-font-family: "Iosevka Fixed";
    -fx-font-size: 14pt;
}

.editcontent-error {
    -fx-fill: #ff0000;
}

.editcontent-error-details {
    -fx-fill: #ff0000;
    -fx-font-size: 12pt;
}

.editcontent-detailsbutton {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 1;
    -fx-padding: 0;
    -fx-font-size: 10pt;
}

.editcontent-prompt {
    -fx-font-weight: bold;
}

.editcontent-output {
    -fx-fill: #000000;
}

.editcontent-result {
    -fx-fill: #005000;
}

.editcontent-warninghighlight {
    -fx-fill: #b04040;
}

.editcontent-loginput {
    -fx-fill: #006800;
}

.editcontent-symbol {
    /*-fx-fill: #2328aa;*/
    -fx-fill: #000000;
}

.editcontent-string {
    -fx-fill: #499f49;
}

.editcontent-number {
    -fx-fill: #4d70e4;
}

.editcontent-char {
    -fx-fill: #9a7b07;
}

.editcontent-comment {
    -fx-fill: #909090;
}

.editcontent-evaluationtime {
    /*-fx-text-alignment: baseline-right;*/
    /*-fx-pref-width: 100%;*/
    -fx-font-size: 65%;
}

.kapresult {
    -fx-font-size: 14pt;
}

.kapresult-header {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.kap-value-inner-highlighted {
    -fx-fill: #0000ff;
}

.langbar-char {
    -fx-font-family: "Iosevka Fixed";
    -fx-font-size: 12pt;
}

.langbar-char:hover {
    -fx-background-color: #909090;
}

.popup-panel {
    -fx-background-color: #e8e8e8;
    -fx-padding: 0;
    -fx-border-style: solid;
    -fx-border-radius: 2;
}

.function-help-panel {
}

.function-help-heading {
    -fx-font-family: "Iosevka Fixed";
    -fx-font-size: 14pt;
    -fx-padding: 5;
}

.function-help-doc {
    -fx-font-size: 12pt;
    -fx-padding: 5 5 5 5;
}

.error-details-popup-panel {
}

.error-details-popup-description {
    -fx-font-size: 12pt;
    -fx-padding: 5 5 5 5;
}
